@CHARSET "UTF-8";

html,body {
	height: 100%;
}

body {
	background-color: #fff;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
}

.rotate180 {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
}

.rotate270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
}

.rotate90 {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}

#divTitre {
	height: 66px;
	vertical-align: top;
	position: relative;
	width: 100%;
}

#divTitre p {
	font-size: 25px;
}

#divBody {
    position: absolute;
    top: 66px;
    bottom: 5px;
    width: 100%;
}

.menuPanel-ver {
	clear: both;
	float: left;
	width: 205px;
    padding-left: 5px;
	padding-right: 5px;
	position: absolute;
	height: 100%;
}

html[dir="RTL"] .menuPanel-ver {
    clear: both;
    float: right;
    width: 200px;
    padding-left: 0px;
    padding-right: 10px;
    position: absolute;
}

.div_close_modal {
	padding-right: 10px;	
	float: right;
	bottom: 10px;
	position: absolute;
	text-align: center;
}

#btn_card_picture_mini {
	padding-right: 10px;	
	float: left;
	text-align: center;
}

#btn_card_picture_maxi {
	padding-right: 10px;	
	float: left;
	text-align: center;
}

.div_miniPicture-ver {
/*     position: absolute; */
/* 	float: left; */
/* 	padding-left: 20px; */
/* 	bottom: 45px; */
    text-align: center;
    clear: both;
}

.div_miniPicture-hor {
  position: absolute;
	clear: right;
	float: center;
	margin: 20px;
	bottom: 105px;
	text-align: center;
}

.div_help_button-ver {
    width: 200px;
    bottom: 10px;
    position: absolute;
    text-align: center;
}

.div_tools_button-ver {
    width: 200px;
    bottom: 50px;
    position: absolute;
    text-align: center;
}

.div_help_button-hor {
    padding-left: 0px;
    bottom: 10px;
    position: absolute;
    text-align: center;
}

html[dir="RTL"] .navbar-right {
    margin-right: -50px;
    width: 225px;
}

.btn_ver {
	text-align : left;
	margin: 5px 0;
}

.divTabpanel-ver {
    height: 100%;
    margin-left:205px;
}

html[dir="RTL"] .divTabpanel-ver {
    margin-left:0px;
    margin-right:205px;
}

html[dir="RTL"] #menuPanelConfig, html[dir="RTL"] #menuPanelBlockly, html[dir="RTL"] #menuPanelFiles {
    float: right;
}

.menuPanelBlockly-hor {
	clear:both;
	float: left;
	padding-left: 10px;	
}

html[dir="RTL"] .menuPanelBlockly-hor, html[dir="RTL"] .menuPanelBlockly-ver {
    float: right;
    padding-right: 10px;
	margin-top: 10px;
}

.menuPanelFiles-hor {
	float: right;
	padding-right: 10px;
}

html[dir="RTL"] .menuPanelFiles-hor {
    float: left;
    padding-left: 10px;
}

.divTabpanel-hor {
    position: absolute;
	top: 80px;
	bottom: 0px;
	right: 0px;
	left: 0px;
    margin-left: 10px;
}

html[dir="RTL"] .divTabpanel-hor {
    margin-left: 0px;
}

.divSwitch-hor {
    float: left;
    padding-left: 10px;
}

html[dir="RTL"] .divSwitch-hor {
    float: right;
    padding-right: 10px;
}

.divCard-hor {
    float: left;
    padding-left: 10px;
}

html[dir="RTL"] .divCard-hor {
    float: right;
    padding-right: 10px;
}

.divConfig-hor {
    float: left;
    padding-left: 10px;
}

html[dir="RTL"] .divConfig-hor {
    float: right;
    padding-right: 10px;
}

#btn_about, #btn_logout {
    position: absolute;
    top: 10px;
}

#btn_doc-hor{
	float : left;
	bottom: 10px;
}

html[dir="LTR"] #btn_about, html[dir="LTR"] #btn_logout {
    right: 15px;
}
 
html[dir="RTL"] #btn_about, html[dir="RTL"] #btn_logout {
	left: 15px;
}

#languageMenu {
	position: absolute;
	top: 35px;
	right: 15px;
}

html[dir="RTL"] #languageMenu {
	left: 10px;
	right: auto;
}

#content_area,#content_blocks,#content_term,#content_xml {
	height: 100%;
	width: 100%;
	padding-right: 5px;
}

#btn_size {
	position: absolute;
	right: 15px;
	top: 0px;
}

html[dir="RTL"] #btn_size {
	left: 15px;
}

#btn_blocs_picture {
	position: absolute;
	right: 150px;
	top: 0px;
}

#btn_blocs_picture_mini {
	position: absolute;
	right: 240px;
	top: 0px;
}

#btn_blocs_picture_maxi {
	position: absolute;
	right: 195px;
	top: 0px;
}

#btn_preview {
	position: absolute;
	right: 60px;
	top: 0px;
}

html[dir="RTL"] #btn_preview {
    left: 60px;
}

#btn_inline {
    position: absolute;
    right: 105px;
    top: 0px;
}

html[dir="RTL"] #btn_inline {
    left: 105px;
}

#toggle {
	width: 25%;
	position: absolute;
	right: 25px;
	top: 50px;
	bottom: 100px;
}

html[dir="RTL"] #toggle {
    left: 25px;
}

#toggle pre {
	height: 100%;
}

#btn_delete {
	position: absolute;
	right: 100px;
	bottom: 40px;
}

html[dir="RTL"] #btn_delete {
    left: 100px;
}

#pre_xml {
	height: 85%;
	width: 100%;
}

#pre_arduino {
    height: 65%;
    width: 100%;
}

#serial_hud {
    height: 500px;
    overflow: auto;
    width: 100%;
    background-color: #080808;
    color: #1D932F;
    font-size: 20px;
    line-height: 20px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
}

#cb_cf_serial_monitor {
    width: 100%;
    height: 100%;
}

#serial_monitor_hud_and_autoscroll {
    display: block !important;
}

#serial-checboxes {
    margin-left: 20px;
}

#modal-body-config {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
}

#select_all {
	margin-left: 15px;
}

html[dir="RTL"] #select_all {
    margin-right: 15px;
}

#span_select_all {
	font-weight: bold;
}

/* .nav-tabs { */
/* 	border-bottom: none !important; */
/* } */

.blocklySvg {
	border-top: none !important;
}

#debug_arduino {
	height: 25%;
	border-width: 2px;
	border-color: black;
	background-color: rgba(8, 8, 8, 1);
	color: rgba(29, 147, 47, 1);
	overflow: auto;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre-wrap;
}

.blocklyToolboxDiv {
	background-color: #e9f9f9 !important;
}

.blocklyFlyoutBackground {
	fill: #e9f9f9 !important;
}

.blocklyTreeRoot {
	padding: 0 !important;
}

.blocklyToolboxDiv .blocklyTreeRoot [role="treeitem"] {
	position: relative;
}

.blocklyToolboxDiv .blocklyTreeRoot [role="treeitem"]	.blocklyTreeRow {
	line-height: normal !important;
	padding: 6px 50px 6px 12px !important;
}

html[dir="RTL"] .blocklyToolboxDiv .blocklyTreeRoot [role="treeitem"]   .blocklyTreeRow {
    padding: 6px 12px 6px 50px !important;
}

.blocklyTreeRow {
	height: 30px !important;
	line-height: 30px !important;
}

/* .blocklyTreeRow:hover { */
/* 	background-color: #90e8e8 !important; */
/* } */

/* .blocklyTreeSelected { */
/* 	background-color: #11c6c6 !important; */
/* } */

.blocklyTreeSeparator {
	background: none repeat scroll 0 0 #e9f9f9 !important;
	border-bottom: none !important;
	height: 10px !important;
}

.colors_category {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 8px;
}

html[dir="RTL"] .colors_category {
    right: 0;
}

.loading {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../media/ajax-loading.gif) center no-repeat #fff;
}

#div_miniPicture:hover {
	cursor: pointer;
}

#showcardModal .modal-content:hover {
  cursor: move;
}

.draggable {
}

#convertModal .modal-content:hover {
  cursor: move;
}

.draggable {
}

#RGB_modal .modal-content:hover {
  cursor: move;
}

.draggable {
}

#videoModal .modal-content:hover {
  cursor: move;
}

.draggable {
}

.vignette {
    max-width: 100px;
    max-height: 100px;
}

.margin-top-5 {
	margin-top: 5px;
}