@CHARSET "UTF-8";

@font-face {
	font-family: "OpenDyslexic";
	src: url('../fonts/OpenDyslexic-Regular.otf');
}

html,body {
	height: 100%;
	background-color: #fff;
	margin: 0;
	font-family: "OpenDyslexic";
}

.rotate180 {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
}

.rotate270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
}

.rotate90 {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}

#header {
	background: #018790;
	height: 36px;
}

#logo_Titre {
	background: #FFFFFF;
	float: left;
}

#header_titres {
	margin-left: 205px;
	position: absolute;
}

#header_code {
	margin-left: 205px;
	margin-bottom: 5px;
	position: absolute;
}

#header_supervision {
	margin-left: 210px;
	margin-bottom: 5px;
	position: absolute;
}

#divTitre, #divTitreMenu {
	float: left;
}

#btn_levels {
	margin-top: 5px;
	margin-left: 10px;
}

#divTitre p {
	font-size: 15px;
	font-family: "OpenDyslexic";
}

#div_toolboxes {
	float: left;
	margin-top: 5px;
}

#tools_blocks {
	float: right;
	margin-top: 5px;
	margin-right: 10px;
}

#divBody {
    position: absolute;
    top: 36px;
    bottom: 5px;
    width: 100%;
}
/* surcharge css min pour accéssibilité
------------------------------------------------ */
.btn-sm, .btn {
	font-size: 14px;
	/* line-height: 0; */
	padding: 3px 10px;
	border: 1px solid #000000;
}
.btn-sm:hover, .btn:hover {
	background-color: #FFFFFF; 
	border-color: #000000;
	color: #000000;
}
.nav {
	font-size: 14px;
	line-height: 0;
	padding: 0px 0px;
	border: 1px solid #000000;
	border-radius: 5px;
}
.nav-item:active {
	font-size: 14px;
	line-height: 0;
	padding: 0px 0px;
	border: 1px solid #000000;
	border-radius: 5px;
}
#SupNav {
	border: 0px;
}
.btn-level {
	font-size: 16px;
	line-height: 0;
	border: 1px solid #000000;
	padding: 12px 6px;
}
#tab_supervision, #tab_blocks, #tab_arduino {
	font-size: 14px;
	line-height: 0;
	padding: 0px 0px;
	border: 1px #000000;
}
#tab_supervision:hover, #tab_blocks:hover, #tab_arduino:hover {
	background-color: #FFFFFF; 
	border-color: #000000;
	color: #000000;
}
#serialport_ide{
	top: 5px;
}
/*----------------------------------------------- */
.menuPanel-ver {
	clear: both;
	float: left;
	width: 205px;
    padding-left: 5px;
	padding-right: 5px;
	position: absolute;
	height: 100%;
}

html[dir="RTL"] .menuPanel-ver {
    clear: both;
    float: right;
    width: 200px;
    padding-left: 0px;
    padding-right: 10px;
    position: absolute;
}

.div_close_modal {
	padding-right: 10px;	
	float: right;
	bottom: 10px;
	position: absolute;
	text-align: center;
}

#btn_CopyCode {
	position: absolute;
	top: 5px;
	right: 5px;
}

#btn_card_picture_mini {
	padding-right: 10px;	
	float: left;
	text-align: center;
}

#btn_card_picture_maxi {
	padding-right: 10px;	
	float: left;
	text-align: center;
}

.div_miniPicture-ver {
/*     position: absolute; */
/* 	float: left; */
/* 	padding-left: 20px; */
/* 	bottom: 45px; */
    text-align: center;
    clear: both;
}

.div_miniPicture-hor {
  position: absolute;
	clear: right;
	float: center;
	margin: 20px;
	bottom: 105px;
	text-align: center;
}

.div_help_button-ver {
    width: 200px;
    bottom: 10px;
    /* position: absolute; */
    text-align: center;
}

.div_tools_button-ver {
    width: 200px;
    bottom: 50px;
    position: absolute;
    text-align: center;
}

#div_about {
    width: 200px;
    bottom: 130px;
    text-align: center;
}

.div_help_button-hor {
    padding-left: 0px;
    bottom: 10px;
    position: absolute;
    text-align: center;
}

#div_accessibility_button {
    width: 200px;
    bottom: 90px;
    /* position: absolute; */
    text-align: center;
}

html[dir="RTL"] .navbar-right {
    margin-right: -50px;
    width: 225px;
}

.btn_ver {
	text-align : left !important;
	margin: 5px 0;
}

.divTabpanel-ver {
    height: 100%;
	margin-left:205px;
}

html[dir="RTL"] .divTabpanel-ver {
    margin-left:0px;
    margin-right:205px;
}

html[dir="RTL"] #menuPanelConfig, html[dir="RTL"] #menuPanelBlockly, html[dir="RTL"] #menuPanelFiles {
    float: right;
}

.menuPanelBlockly-hor {
	clear:both;
	float: left;
	padding-left: 10px;	
}

html[dir="RTL"] .menuPanelBlockly-hor, html[dir="RTL"] .menuPanelBlockly-ver {
    float: right;
    padding-right: 10px;
	margin-top: 10px;
}

.menuPanelFiles-hor {
	float: right;
	padding-right: 10px;
}

html[dir="RTL"] .menuPanelFiles-hor {
    float: left;
    padding-left: 10px;
}

.divTabpanel-hor {
    position: absolute;
	top: 80px;
	bottom: 0px;
	right: 0px;
	left: 0px;
    margin-left: 10px;
}

html[dir="RTL"] .divTabpanel-hor {
    margin-left: 0px;
}

.divSwitch-hor {
    float: left;
    padding-left: 10px;
}

html[dir="RTL"] .divSwitch-hor {
    float: right;
    padding-right: 10px;
}

.divCard-hor {
    float: left;
    padding-left: 10px;
}

.modal-body-config-global_left {
    position: relative;
	height: 280px
}

.arduino_card_mini_picture_div {
	position:absolute;
	top:0;
	right:5px;
}

#arduino_card_mini_picture {
	max-width:220px;
	max-height:300px;
}

html[dir="RTL"] .divCard-hor {
    float: right;
    padding-right: 10px;
}

.divConfig-hor {
    float: left;
    padding-left: 10px;
}

html[dir="RTL"] .divConfig-hor {
    float: right;
    padding-right: 10px;
}

#btn_logout {
    position: absolute;
    top: 3px;
}

#btn_doc-hor{
	float : left;
	bottom: 10px;
}

#languageMenu {
	/*position: absolute;
	top: 35px;
	right: 15px;*/
}

html[dir="RTL"] #languageMenu {
	left: 10px;
	right: auto;
}

#content_area,#content_blocks,#content_factory {
	height: 100%;
	width: 100%;
}

#content_term,#content_arduino,#content_supervision {
	padding: 5px 5px 20px 0px;
	top: 40px;
	height: 100%;
	width: 100%;
}

#toggle_code {
	width: 25%;
	position: fixed;
	z-index: 1;
	right: 25px;
	top: 50px;
	bottom: 100px;
}

#blockly_l{
	float:left;
	height:99%;
	width:50%;
}
#blockly_r{
	float:right;
	height:99%;
	width:50%;
}
#btn_group {
	position: absolute;
	right: 15px;
	top: 0px;
	z-index: 10;
}
#barre{
	padding : 3px 0px 0px 10px;
	background-color : #018790;
}
#barre_h{
	padding : 5px 5px 5px 10px;
	background-color : #018790;
}
#barre_ide{
	padding : 2px 5px 5px 10px;
	background-color : #018790;
}
#btn_term {
	right: 15px;
	top: 5px;
	z-index: 10;
}
#pre_arduino {
    height: 70%;
    width: 100%;
}
#serial-checboxes {
    margin-left: 20px;
}
html[dir="RTL"] #toggle_code {
    left: 25px;
}

#toggle_code pre {
	height: 100%;
}

#btn_delete {
	position: absolute;
	right: 100px;
	bottom: 40px;
	z-index: 10;
}

html[dir="RTL"] #btn_delete {
    left: 100px;
}

#pre_xml {
	height: 85%;
	width: 100%;
}

#pre_arduino {
    height: 65%;
    width: 100%;
}

#modal-body-config {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
}

#select_all {
	margin-left: 15px;
}

html[dir="RTL"] #select_all {
    margin-right: 15px;
}

#span_select_all {
	font-weight: bold;
}

.blocklySvg {
	border-top: none !important;
}

#debug_arduino {
	height: 25%;
	border-width: 2px;
	border-color: black;
	background-color: rgba(8, 8, 8, 1);
	color: rgba(29, 147, 47, 1);
	overflow: auto;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre-wrap;
}

#local_debug {
	height: 31%;
	width: 100%;
	border-width: 2px;
	border-color: black;
	background-color: rgba(8, 8, 8, 1);
	color: rgba(29, 147, 47, 1);
	overflow: auto;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre-wrap;
}

.blocklyToolboxDiv {
	background-color: #FFFFFF !important;
	box-shadow: 5px 5px 5px grey !important;
}

.blocklyFlyoutBackground {
	fill: #FFFFFF !important;
	fill-opacity: 1;
	box-shadow: 5px 5px 5px grey !important;
}

.blocklyTreeRoot {
	padding: 0 !important;
}

.blocklyToolboxDiv .blocklyTreeRoot [role="treeitem"] {
	position: relative;
}

.blocklyToolboxDiv_hide .blocklyTreeRoot_hide [role="treeitem"] {
	position: fixed;
}

.blocklyToolboxDiv .blocklyTreeRoot [role="treeitem"]	.blocklyTreeRow {
	line-height: normal !important;
	padding: 6px 50px 6px 12px !important;
}

html[dir="RTL"] .blocklyToolboxDiv .blocklyTreeRoot [role="treeitem"]   .blocklyTreeRow {
    padding: 6px 12px 6px 50px !important;
}

.blocklyTreeRow {
	height: 30px !important;
	line-height: 30px !important;
}

/* .blocklyTreeRow:hover { */
	/* background-color: #018790 !important; */
/* } */

.blocklyTreeSeparator {
	background: none repeat scroll 0 0 #e9f9f9 !important;
	border-bottom: none !important;
	height: 10px !important;
}

.colors_category {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 8px;
}

html[dir="RTL"] .colors_category {
    right: 0;
}

.loading {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../media/ajax-loading.gif) center no-repeat #fff;
}

#div_miniPicture:hover {
	cursor: pointer;
}
.vignette {
    max-width: 100px;
    max-height: 100px;
}
.margin-top-5 {
	margin-top: 5px;
}
.blocklyScrollbarKnob {
  fill: #00929F !important;
  fill-opacity: 0.7 !important;
}
.blocklyScrollbarBackground {
  stroke-width: 0px !important;
  fill: none !important;
}

#convertModal .modal-content:hover {
  cursor: move;
}
.draggable {
}

#RGB_modal .modal-content:hover {
  cursor: move;
}
.draggable {
}


/* Layout graph
----------------------------------*/
#template_tabs4_pin {
	position: relative;
    left: 0px;
	top: -500px;
}

#CanvasGraph_title {
	position: relative;
    left: 0px;
}

#CanvasGraph_button_div {
	position: relative;
    left: 0px;
}

#CanvasGraph {
	position: relative;
	top: -30px;
    left: 200px;
}

/* Prototype window
----------------------------------*/
.popup_effect {
  background:#11455A;
  opacity: 0.2;
}


/* Prototype window
----------------------------------*/

.btn-arduino { 
  color: #018790; 
  width: 28px;
  height: 28px;
  background-color: #006468; 
  border-color: #000000; 
  line-height: 28px;
  padding:0;
  border-radius:50%;
} 
.btn-arduinoRect { 
  color: #018790;
  width: 28px;
  height: 28px;
  background-color: #006468; 
  border-color: #000000; 
  line-height: 1px;
  padding:0;
  border-radius:0px;
} 
.btn-arduino:hover,.btn-arduinoRect:hover,.btn-arduino:focus {
  background-color: #FFFFFF; 
  border-color: #000000;
} 
.btn-arduino:active,.btn-arduinoRect:active,.btn-arduino.active,.open .dropdown-toggle.btn-arduino,.open .dropdown-toggle.btn-arduinoRect  { 
  background-color: #FFCC00; 
  border-color: #000000;
} 
.btn-arduino.disabled,.btn-arduinoRect[disabled],.btn-arduino[disabled],fieldset[disabled] .btn-arduino,.btn-arduino.disabled:hover,.btn-arduino[disabled]:hover,fieldset[disabled] .btn-arduino:hover, .btn-arduino.disabled:focus, .btn-arduino[disabled]:focus, fieldset[disabled] .btn-arduino:focus, .btn-arduino.disabled:active, .btn-arduino[disabled]:active, fieldset[disabled] .btn-arduino:active, .btn-arduino.disabled.active, .btn-arduino[disabled].active, fieldset[disabled] .btn-arduino.active { 
  background-color: #FFFFFF; 
  border-color: #000000; 
} 
.btn-arduino .badge { 
  color: #00929F; 
  background-color: #ffffff; 
}

#fenetre_term{
	width: 630px;
	height: 415px;
	border: 1px solid #ccc;
	padding:0px 5px 5px 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	border-radius: 5px;
	overflow: auto;
}
h4{
	margin-left: 5px;
}

.fa, .fas{
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-lg {
  font-size: 1.2em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.fa-1_5x {
  font-size: 1.3em;
}
.fa-2x {
  font-size: 2em;
}
.fa-3x {
  font-size: 3em;
}
.fa-fw {
  width: 1.28571429em;
  text-align: center;
}
.fa-inverse {color: #ffffff;}
.fa-industry:before{content:"\f275"}
.fa-times:before{content:"\f00d"}
.fa-wrench:before{content:"\f0ad"}
.fa-power-off:before {content: "\f011"}
.fa-calendar-check-o:before {content: "\f274"}
.fa-arrow-right:before {content: "\f061"}
.fa-question-circle:before {content: "\f059"}
.fa-info-circle:before {content: "\f05a"}
.fa-camera:before {content: "\f030"}
.fa-code:before {content: "\f121"}
.fa-graduation-cap:before {content: "\f19d"}
.fa-puzzle-piece:before {content: "\f12e"}
.fa-microchip:before{content:"\f2db"}
.fa-repeat:before{content:"\f01e"}
.fa-undo:before{content:"\f0e2"}
.fa-cloud-download:before{content:"\f0ed"}
.fa-file-text:before{content:"\f15c"}
.fa-file:before{content:"\f15b"}
.fa-folder-open:before{content:"\f07c"}
.fa-cog:before{content:"\f013"}
.fa-user:before{content:"\f007"}
.fa-check:before{content:"\f00c"}
.fa-sliders:before{content:"\f1de"}
.fa-envelope:before{content:"\f0e0"}
.fa-terminal:before{content:"\f120"}
.fa-paypal:before{content:"\f1ed"}
.fa-github:before{content:"\f09b"}