<tr>
<td><a href="index.html?lang=fr?url=./examples/%act_xml%"> <!--nom de la sauvegarde XML sans espace ni accent -->
%act_descr%
</a></td>
<td>
<a href="examples/%act_fritzing%" target=_blank> <!--nom de la sauvegarde XML sans espace ni accent -->
<img class="img-responsive" src="examples/%act_img%"> <!--nom de la vignette -->
</a>
</td>
<td><a href="%act_URL%" target=_blank>%act_link%</td>
</tr>
</tbody>